<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hatebyte.cynicalandroid.mysimpleservice" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hatebyte.cynicalandroid.mysimpleservice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.hatebyte.cynicalandroid.mysimpleservice.aidl.GPXService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.hatebyte.cynicalandroid.mysimpleservice.aidl.GPXService.SERVICE" />
                <action android:name="com.hatebyte.cynicalandroid.mysimpleservice.aidl.IRemoteInterface" />
            </intent-filter>
        </service>
        <service
            android:name=".binder.BinderService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.hatebyte.cynicalandroid.mysimpleservice.aidl.AIDLActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.hatebyte.cynicalandroid.mysimpleservice.binder.BinderExtensionActivity"
            android:label="@string/title_activity_binder_extension" >
        </activity>
        <activity
            android:name="com.hatebyte.cynicalandroid.mysimpleservice.messenger.MessengerActivity"
            android:label="@string/title_activity_messenger" >
        </activity>

        <service
            android:name="com.hatebyte.cynicalandroid.mysimpleservice.messenger.MessengerService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
